:javascript
  $('tabs').hide();
%h2 Welcome to the Resource Tracking Database!
%p I am here to
%ul
  %li= l"Report data as a Donor, NGO or Government Entity reporter_dashboard"
  %li=  "Manage users and codes in the database as an Administratoradmin_dashboard"

